.navbar-toggler:active {
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
}

a.navbar-brand {
    color: #fff;
}

#nav{
  /*background-color: #212121;*/
  background-color: #202124;
}

.nav-link {
  color: #bdbdbd;
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
}

.nav-link:hover {
  color: #ffffff;
}

.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.article-title {
  color: #212121;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-info {
  padding-bottom: 1px;
  margin-bottom: 4px;
}
