.navbar-toggler:active {
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
}

a.navbar-brand {
    color: #fff;
}

#nav{
  /*background-color: #212121;*/
  background-color: #202124;
  background-color: #009688;
  background-color: #3D5AFE;
  background-color: #3F51B5;
}

.nav-tab-divider {
  height: 30px;
  margin: auto 0;
  border-left: 1px solid #bdbdbd;
}

.nav-link {
  color: #bdbdbd;
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
}

.nav-link:hover {
  color: #ffffff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.article-title {
  color: #212121;
}

.article-content {
  white-space: pre-line;
  font-size: 18px;
}

.article-img-wrapper {
    margin-right: 15px;
    border: 1px solid #e9e9e9;
    display: flex;
}

.article-img {
  height: 55px;
  width: 55px;
}

.article-info {
  padding-bottom: 1px;
  margin-bottom: 4px;
}

.account-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.account-heading {

}

.user-link {
  color: #424242;
  -webkit-transition: color .25s ease;
  transition: color .25s ease;
}

.user-link:hover {
  color: #606060;
  text-decoration: none;
}

@media only screen and (max-width: 580px) {
  .account-img {
    height: 120px !important;
    width: 120px !important;
  }
}
