body {
  background: #f9f9f9;
  color: #424242;
}

h1, h2, h3, h4, h5, h6 {
  color: #212121;
}

.col-sm-12 {
  padding: 0 !important;
}

.shadow {
  -webkit-box-shadow: 0 1px 7px rgba(0,0,0,.10);
  box-shadow: 0 1px 7px rgba(0,0,0,.10);
}

.shadow-heavy {
  -webkit-box-shadow: 0 1px 7px rgba(0,0,0,.50);
  box-shadow: 0 1px 7px rgba(0,0,0,.50);
}

#main-wrapper {
    padding-top: 70px;
}


.flex-col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  /*max-width: 550px;*/
}

.content-wrapper {
    width: 100%;
    max-width: 550px;

}

.left {
  margin-right: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

