body {
  background: #fff;
  color: #424242;
}

h1, h2, h3, h4, h5, h6 {
  color: #212121;
}


.shadow {
  -webkit-box-shadow: 0 1px 7px rgba(0,0,0,.10);
  box-shadow: 0 1px 7px rgba(0,0,0,.10);
}

.shadow-heavy {
  -webkit-box-shadow: 0 1px 7px rgba(0,0,0,.50);
  box-shadow: 0 1px 7px rgba(0,0,0,.50);
}
