{% extends 'index.html' %}
{% block content %}
        <div class="row">
            <div class="col-md-12">
              <div class="content-wrapper center" id="feed-wrapper">

                <!-- display each post in the feed -->
                {% for post in posts %}
                  <article class="content-section">
                    <div class="media mb-2">
                      <div class="rounded-circle article-img-wrapper">
                        <img class="rounded-circle article-img" src="{{ url_for('static', filename= post.author_image) }}">
                      </div>
                      <div class="media-body">
                        <div>
                          <a class="mr-2 user-link" href="{{ '/u/' + post.author}}">u/{{ post.author }}</a>
                          <small class="text-muted">{{ post.createdAt }}</small>
                        </div>
                        <h4><span class="article-title">{{ post.title }}</span></h4>
                      </div>
                    </div>
                    <p class="article-content">{{ post.content }}</p>
                  </article>
                {% endfor %}

              </div>
              <div class="content-wrapper center" id="load-wrapper">
                <button type="button" id="load-btn" onclick="loadMore()" class="btn btn-secondary mb-4" style="width: 100%">Load More</button>
              </div>
            </div>
        </div>
{% endblock content %}
