{% extends 'index.html' %}
{% block content %}
        <div class="row" id="feed-wrapper">
            <div class="col-md-8">
                {% for post in posts %}
                    <article class="media content-section shadow">
                        <div class="media-body">
                          <div class="article-info">
                            <a class="mr-2" href="#">{{ post.author }}</a>
                            <small class="text-muted">{{ post.date_posted }}</small>
                          </div>
                          <h4><span class="article-title">{{ post.title }}</a></h2>
                          <p class="article-content">{{ post.content }}</p>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
{% endblock content %}
