
{% extends "index.html" %}
{% block content %}
    <div class="col-sm-12">
        <div class="content-section">
          <div class="media">
            <img class="rounded-circle account-img"
                 src="{{ url_for('static', filename=user.profile_picture)}}">
            <div class="media-body">
              <h2 class="account-heading">{{ user.username }}</h2>
              <p class="text-secondary ml-4">{{ user.email }}</p>
            </div>
          </div>
          {% if current_user.username == user.username %}
            <div style="margin-top: 20px">
              <a class="nav-item" href="{{'/u/edit/' + current_user.username}}">
                <button type="button" class="btn btn-outline-info">Edit Profile</button>
              </a>
            </div>
          {% endif %}
        </div>
        <div class="content-wrapper left" id="feed-wrapper-account">

        <!-- display each post for this user -->
        {% for post in posts %}
          <article class="media content-section">
              <div class="media-body">
                <div class="article-info">
                  <a class="mr-2 user-link" href="{{ '/u/' + post.author}}">u/{{ post.author }}</a>
                  <small class="text-muted">{{ post.createdAt }}</small>
                </div>
                <h5><span class="article-title">{{ post.title }}</span></h5>
                <p class="article-content">{{ post.content }}</p>
              </div>
          </article>
        {% endfor %}
        </div>
    </div>
{% endblock content %}
